@tailwind base;
@tailwind components;
@tailwind utilities;

/* ~ refers to the children of the element */
input[type='text']:focus ~ .input-text{
    @apply text-blue-500 transform -translate-y-4 -translate-x-2 scale-75
}