@keyframes sun-rev{
    100%{
        transform: rotate(-180deg);
        opacity: 0.4;
    }
}

@keyframes moon-rev{
    100%{
        opacity: 0.4;
    }
}

@keyframes underline{
    50%{
        width: 100%;   /* Full width underline */
        /* To prevent shrinking and unwanted scaling across
        different browsers, we use this tranform: scaleX(1) command.. */
        transform: scaleX(1);
    }
    100%{
        width: 0%; /* Shrink the underline */
        transform: scaleX(1);
    }
}

.underline-effect:hover{
    position: relative;
    display: inline-block;
}

/* After the underline transition is done , then the animation 
continues until 100% and shrinks the underline */

/* Use ::after pseudo-class to create the underline animation... */
.underline-effect:hover::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%; /*Start with 0 width */
    height: 2.5px; /*Height of the underline */
    background-color: currentColor;
    transition: width 0.1s ease-in-out;
    animation: underline 1s ease-in-out;
}

.underline-effect:hover::after:hover{
    /* Set the width to 100% to render a full underline on hover */
    width: 100%;
}

@keyframes sun{
    100%{
        transform: rotate(180deg);
        opacity: 1;
    }
}

@keyframes moon{
    100%{
        opacity: 1
    }
}

.animate-sun:hover{
    animation: sun 1s ease-out;
}

.animate-sun{
    animation: sun-rev 1s ease-out forwards;
}

.animate-moon{
    animation: moon-rev 1s ease-in-out forwards;
}

.animate-moon:hover{
    animation: moon 1s ease-in-out;
}

.animate-slide:hover{
    animation: slide 1s ease-in-out;
}